*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.sub-header-sec{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.sub-header-1{
    display: flex;
    gap: 5px;
}
.grey{
    color: grey;
}
.blue{
    color: blue;
}
.main-container{
    display: flex;
    padding: 10px;
    gap: 0.5rem;
}
.container-1{
    width: 50%;
}
.container-1 > img{
    max-width: 100%;
    width: 70%;
    object-fit: contain;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.mb{
    margin-bottom: 0.5rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.cont-2-sec-2{
    display: flex;
    border-bottom: 1px solid #ccc;
}
.sec-2-sub-sec-1{
    width: 50%;
}
.cont-2-sec-3{
    margin-top: 5px;
}
.sec-3-sub-main{
    display: flex;
}
.line1{
    width: 50%;
    background-color: blue;
    padding: 10px;
}
.line2{
    width: 70%;
    background-color: grey;
    padding: 10px;
}
.sec-3-sub-2{
    display: flex;
    justify-content: space-between;
}